<header>
	<h1>Unem.co</h1>
  <form action="/search/restaurants" method="get">
    <input type="text" name="q" placeholder="Zoek restaurant">
    <button style='display:none;' type="submit">Zoek</button>
  </form>
</header>

<section id="restaurant-list">
	<ul>
		<% @restaurants.each do |restaurant| %>
		<li>
			<h3 class="name"><%= link_to restaurant.name, [restaurant.city, restaurant] %></h3>
			<hr><p><%= link_to restaurant.city.name, restaurant.city %></p>
		</li>
		<% end %>
	</ul>
</section>


<script>
  function render(data) {
    const $result = $('#restaurant-list ul');
    let liArray = [];
    for(let restaurant of data.restaurants) {
      liArray.push(`<li>
        <h3 class="name"><a href='${restaurant.url}'>${restaurant.name}</a></h3>
        <hr><p><a href="${restaurant.city.url}">${restaurant.city.name}</a></p>
      </li>`);

    }
    if(liArray.length > 0) {
      $result.html(liArray.join(''));
    } else {
      $result.html("<li class='not-found'>Geen restaurants gevonden</li>");
    }
  }

  $('form').submit(function(e) {
    let search = $(this).find('input').val();

    fetch(`/search/restaurants?q=${search}`)
    .then(status)
    .then(json)
    .then(render)
    .catch(function(error) {
      console.log('Request failed', error);
    });

    e.preventDefault();
  })
</script>
