<header>
	<h1>Unem.co</h1>
  <form action="/search/restaurants" method="get">
    <input type="text" name="q" placeholder="Zoek restaurant">
    <button style='display:none;' type="submit">Zoek</button>
  </form>
</header>

<section id="restaurant-list">
	<ul>
		<% @restaurants.each do |restaurant| %>
		<li data-href="<%= url_for [restaurant.city, restaurant] %>">
			<h3 class="name"><%= link_to restaurant.name, [restaurant.city, restaurant] %></h3>
			<hr><p><%= link_to restaurant.city.name, restaurant.city %></p>
		</li>
		<% end %>
	</ul>
</section>


<script>
	const $restaurantList = $('#restaurant-list ul');

  function render(data) {
    const liArray = makeList(data.restaurants, []);

    if(liArray.length > 0) {
      $restaurantList.html(liArray.join(''));
    } else {
      $restaurantList.html("<li class='not-found'>Geen restaurants gevonden</li>");
    }
  }

	function makeList(data, restaurants) {
		const [head, ...tail] = data;

		if (head) {
			const li = `<li data-href='${head.url}'>
        <h3 class="name"><a href='${head.url}'>${head.name}</a></h3>
        <hr><p><a href="${head.city.url}">${head.city.name}</a></p>
      </li>`;
			return makeList(tail, restaurants.concat(li));
		} else {
			return restaurants;
		}
	}

  $('form').submit(function(e) {
    const search = $(this).find('input').val();

    fetch(`/search/restaurants?q=${search}`)
    .then(status)
    .then(json)
    .then(render)
    .catch(function(error) {
      console.log('Request failed', error);
    });

    e.preventDefault();
  })

  $('#restaurant-list').on('click', function(event) {
    document.location = event.target.parentElement.dataset.href;
  })
	$('#restaurant-list li a').on('click', function(event) {
		event.stopPropagation();
	})
</script>
