<div class="panel panel-default">
  <div class="panel-body">
    <%= bootstrap_form_for [:admin, @city] do |f| %>
      <%= f.text_field :name %>
      <%= f.submit class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
