<header>
  <a href="<%= url_for(:root) %>" class="back">Back</a>
	<h1>Alle steden</h1>
</header>

<section id="restaurant-list">
  <ul>
    <% @cities.each do |city| %>
      <li>
        <h3 class="name"><%= link_to city.name, city %></h3>
        <hr><p><%= city.restaurants.size %> restaurants aanwezig</p>
      </li>
    <% end %>
  </ul>
</section>
