.menu-pizza a { background-image: image-url('icon-pizza.png'); background-size: 72px 80px; }
.menu-pasta a {}
.menu-starters a {}
.menu-salads a {}
.menu-kids a {}
.menu-meat a {}
.menu-fish a {}
.menu-chicken a {}
.menu-lasagne a {}
.menu-side a {}
.menu-pho a {}
.menu-ramen a {}
.menu-cold-drinks a { background-image: image-url('icon-drinks.png'); background-size: 41px 76px; }
.menu-warm-drinks a { background-image: image-url('icon-drinks.png'); background-size: 41px 76px; }
.menu-alcohol a { background-image: image-url('icon-drinks.png'); background-size: 41px 76px; }
.menu-distilled a { background-image: image-url('icon-drinks.png'); background-size: 41px 76px; }
.menu-wine a { background-image: image-url('icon-drinks.png'); background-size: 41px 76px; }
.menu-game a {}
.menu-ribs a {}
.menu-burgers a {}
.menu-fries a { background-image: image-url('icon-snacks.png'); background-size: 59px 88px; }
.menu-mixed a {}
.menu-vega a {}
.menu-soup a {}
.menu-snacks a { background-image: image-url('icon-snacks.png'); background-size: 59px 88px; }
.menu-dessert a { background-image: image-url('icon-dessert.png'); background-size: 41px 93px; }
.menu-calzone a {}
.menu-drinks a { background-image: image-url('icon-drinks.png'); background-size: 41px 76px; }
.menu-bun a {}
.menu-default a { background-image: image-url('icon-cloche.png'); background-size: 111px 69px; }
.menu-sauce a {}
.menu-cocktails a {}
