.menu-pizza { background-image: image-url('icon-pizza.png'); background-size: 72px 80px; }
.menu-pasta {}
.menu-starters {}
.menu-salads {}
.menu-kids {}
.menu-meat {}
.menu-fish {}
.menu-chicken {}
.menu-lasagne {}
.menu-side {}
.menu-pho {}
.menu-ramen {}
.menu-cold-drinks { background-image: image-url('icon-drinks.png'); background-size: 41px 76px; }
.menu-warm-drinks { background-image: image-url('icon-drinks.png'); background-size: 41px 76px; }
.menu-alcohol { background-image: image-url('icon-drinks.png'); background-size: 41px 76px; }
.menu-distilled { background-image: image-url('icon-drinks.png'); background-size: 41px 76px; }
.menu-wine { background-image: image-url('icon-drinks.png'); background-size: 41px 76px; }
.menu-game {}
.menu-ribs {}
.menu-burgers {}
.menu-fries { background-image: image-url('icon-snacks.png'); background-size: 59px 88px; }
.menu-mixed {}
.menu-vega {}
.menu-soup {}
.menu-snacks { background-image: image-url('icon-snacks.png'); background-size: 59px 88px; }
.menu-dessert { background-image: image-url('icon-dessert.png'); background-size: 41px 93px; }
.menu-calzone {}
.menu-drinks { background-image: image-url('icon-drinks.png'); background-size: 41px 76px; }
.menu-bun {}
.menu-default { background-image: image-url('icon-cloche.png'); background-size: 111px 69px; }
.menu-sauce {}
.menu-cocktails {}
